<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="app">
				<header class="header">
					<h1>todos</h1>
					<input
					 class="new-todo" 
					 placeholder="What needs to be done?"
					 v-model="newTodo"
					 v-focus
					 @keyup.enter="addTodo">
				</header>
				<section 
				   class="main"
				    v-if="dataList.length">
					<input id="toggle-all"
					 class="toggle-all" 
					 type="checkbox"
					 v-model="toggleAll">
					<label for="toggle-all">全选按钮</label>
					<ul class="todo-list">
						<li 
						:class="{completed:item.isFinish}" v-for="(item,index) in dataList" :key="item.id">
							<div class="view">
								<input class="toggle" type="checkbox"
								v-model = "item.isFinish"
								:checked="item.isFinish">
								
								<label>{{item.content}}</label>
								<button class="destroy"
								@click.prevent="delTodo(index)"
								></button>
							</div>
							<input class="edit" value="Create a TodoMVC template">
						</li>
				
					</ul>
				</section>
				<footer class="footer" v-if="dataList.length">
				
					<span class="todo-count"><strong>{{activeNum}}</strong> item left</span>
				
					<ul class="filters">
						<li>
							<a class="selected" href="#/">All</a>
						</li>
						<li>
							<a href="#/active">Active</a>
						</li>
						<li>
							<a href="#/completed">Completed</a>
						</li>
					</ul>
					
					<button class="clear-completed"
					  v-if="activeNum !==dataList.length"
					  @click.prevent="delAll"
					  >全部删除</button>
				</footer>
			</section>
			<footer class="info">
				<p>Double-click to edit a todo</p>
				
				<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
				
				<p>Created by <a href="http://todomvc.com">you</a></p>
				<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			</footer>
		<script src="node_modules/todomvc-common/base.js"></script>
        <script src="./dist/vue.js"></script>
		<script src="./js/app2.js"></script>
		
	</body>
</html>
<script>

	var arr = [
		{id: 1},
		{id: 2},
		{id: 5},
		{id: 3}
	]

	var a = arr.sort((b, a) => a.id - b.id)



	var obj = {
		a: 1
	}


	obj.b = 2


	var arr2 = [{is: false}, {is: true}, {is: false}]

	// var boo = arr2.every(item => {
	// 	return item.is === true
	// })

	var boo = arr2.some(item => {
		return item.is === true
	})

	// console.log(boo)
</script>